version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: db
    restart: unless-stopped
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d db" ]
      interval: 5s
      timeout: 5s
      retries: 5

  alembic:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: campaign_alembic
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    working_dir: /app/app
    environment:
      DATABASE_URL: postgresql://admin:admin@db:5432/db
    command: >
      sh -c "alembic -c alembic.ini upgrade head"
    volumes:
      - ./app:/app/app

  storage:
    image: minio/minio
    container_name: campaign_minio
    command: server /data --console-address ":9001"
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000" # S3-compatible API
      - "9001:9001" # MinIO web console
    volumes:
      - minio_data:/data
    healthcheck:
      test: [ "CMD", "mc", "ready", "local" ]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: campaign_api
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      storage:
        condition: service_healthy
      alembic:
        condition: service_completed_successfully
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://admin:admin@db:5432/db
      # S3_ENDPOINT_URL: http://storage:9000
      # S3_ACCESS_KEY: minio
      # S3_SECRET_KEY: minio123
      # S3_BUCKET: assets
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app

  pgadmin:
    image: dpage/pgadmin4
    container_name: campaign_pgadmin
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"

volumes:
  db_data:
  minio_data:
